body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #E4F0F0;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: -50px;
    color: #79B4B4;
    text-shadow: 1px 1px slategray;
}

h1.hippie {
    text-shadow: 2px 2px white;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.controlPanel {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: -20px;
}

#container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: #024545;
    border-width: 1px;

}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    background-color: white;
}

#colorPickerSpan {
    background-color: #024545;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 3px 6px #0000001A;
}

.colorPickerSpanHover {
    box-shadow: 3px 5px 10px #0000001A;
    transition: .3s;
    transform: scale(1.15);
}

input[type='color'] {
    display: none;
}