body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: monospace, Impact, fantasy, Helvetica, sans-serif;
    font-size: 25pt;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
}

#container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    min-height: 500px;
    min-width: 500px;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    border-style: dotted;
    border-color: black;
    border-width: .5px;


}