body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    min-height: 500px;
    min-width: 500px;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    border-style: dotted;
    border-color: black;
    border-width: .5px;


}